<div class='container px-5 px-sm-0'>
  <h4>投稿一覧</h4>
  <div class='row'>
  <div class="col-12 d-flex flex-column">
    <div class="d-flex flex-row flex-wrap">
      <%= render 'from', posts: @posts %>
    </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2 mx-auto text-left">
    <%= paginate @posts %>
  </div>
  <div class="col-md-5"></div>
</div>