<% if sauna.bookmarked_by?(current_customer) %>
  <td><%= link_to sauna_bookmarks_path(sauna), method: :delete do %><i class="fas fa-bookmark"></i><% end %></td>
<% else %>
  <td><%= link_to sauna_bookmarks_path(sauna), method: :post do %><i class="far fa-bookmark"></i><% end %></td>
<% end %>